/* folderList.css */

.bb-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  .bb-item {
    width: 250px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .bb-item img {
    max-width: 80px;
    height: 120px;
  }
  
  /* Responsive CSS */
  @media (max-width: 768px) {
    .bb-item {
      width: 100%;
    }
  }
  